<div class="col col-md-12">
  <div class="link ">
    <a href="https://twitter.com/thadubsdavid" target="_blank">
      <span class="icon icon-twitter"></span>
    </a>
  </div>
  <div class="link ">
    <a href="https://linkedin.com/in/davidpatrickadam/" target="_blank">
      <span class="icon icon-linkedin"></span>
    </a>
  </div>
  <div class="link ">
    <a href="mailto:davidpatrickadam@gmail.com">
      <span class="icon icon-email"></span>
    </a>
  </div>
</div>
<!--div class="col col-md-6">
  <div class="link col col-xs-12">
    <a href="https://github.com/thadubsdavid/">
      <span class="icon icon-github"></span>
      <span style="unicode-bidi:bidi-override">
						@thadubsdavid</span>
    </a>
  </div>
</div-->
