.link {
  margin: 1%;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.icon-twitter {
  background: url(../../../../assets/twitter.png) left bottom no-repeat;
}

.icon-linkedin {
  background: url(../../../../assets/linkedin.png) left bottom no-repeat;
}

.icon-email {
  background: url(../../../../assets/email.png) left bottom no-repeat;
}

/**
.icon.icon-github {
  background-position: 0px -96px;
  background: url(../../../../assets/github.png) left bottom no-repeat;
}
*/

.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 33px;
  width: 33px;
}
